<%- include('includes/head') %>
  </head>
  <body>
    <div class="jumbotron">
      <h1 class="display-4">Todo</h1>
      <p class="lead">Todo app for simple mongodb CRUD operations</p>
      <hr class="my-4" />
      <div class="row">
        <div class="col-md-6 mb-3">
          <form
            action="
              <%if(updateMode){ %>
                <%='/update-task/' + taskId %>
              <%}else{%>
                <%='/add-task'%>
              <%} %>
            "
            method="POST"
          >
            <input
              class="form-control"
              type="text"
              name="addTask"
              placeholder="Add task"
              value="<% if(updateMode){ %><%= taskContent %><% } %>"
            />

              
            <button
              class="btn <%= (updateMode) ? 'btn-warning':'btn-primary'%> mt-2"
              type="submit"
            >
              <%= (updateMode) ? 'Update' : 'Add' %>
            </button>

            <% if(updateMode) { %>
            <a href="/delete-task/<%=taskId%>" class="btn btn-danger mt-2"
              >Delete</a
            >
            <a href="/" class="btn btn-dark mt-2"> Back</a>
            <% } %>
          </form>

          <!--Tasks list-->
          <ul>
            <% if(tasks.length > 0) { %> <% tasks.forEach(task => { %>
            <li class="list-inline mt-3">
              <% if(!updateMode){ %>
              <%= task.task %> <% } %><br />
              <a href="/details/<%=task._id%>" class="text-success"> Details </a>
              <a href="/edit-task/<%=task._id%>" class="text-primary"
                >Edit <i class="fas fa-pencil-alt"></i
              ></a>
            </li>
            <% }) %> <% } else { %>
            <h1 class="mt-3">Task list is emty</h1>
            <% } %>
          </ul>
        </div>
        
        <div class="card-columns">

        <% if(details.length > 0 ) { %>
           <% details.forEach(det => { %>
            <div class="card">
              <img class="card-img-top" src="<%= det.image %>" alt="Image not found">
              <div class="card-body">
                <p class="card-text"><%= det.description %></p>
              </div>
              <form action="/delete-detail" method="post">
                <input type="hidden" name="detailId" value=<%=det._id%> >
                <input type="hidden" name="taskId" value=<%=taskId%>>
                <button class="btn btn-dark float-right" type="submit">Delete</button>
            </form>
            </div>
           <% }) %>
        <% }else{ %>
          <h1> task have no Details added </h1>
        <% } %>
          
        </div>
      
      <!-- row end-->
      </div>
    </div>

<%- include('includes/end')%>    
